@CHARSET "UTF-8";
<style type="text/css">
body{
	margin:0;
	margin-right: auto;
	margin-left: auto;
	width:900px;
	min-height:600px;
	text-align:left;
	background-color:white;
}
div#header{
	vertical-align:middle;
	background-color: #e9e9e9;
	height:100px;
}
#header-text a{
	font-size:40px;	
	color:BLACK;
}

#header .right a:hover{
	color:gray;
}

#logo{
	
	vertical-algin:middle;
	margin:30px 0 0 20px;
	color:darkblue;
	font-size:40px;
}

.left{
	float:left;
	margin-left:20px;
	
}

.right{
	float:right;
	
}

img{
	border:none;
}

.clear{
	clear:both;
}

a{
	text-decoration:none;
}

hr{
	clear:both;
}

#nav{
	margin:0 0 20px 0;
	float:left;
	width:100%;
	background-color:gray;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#ff0099;
}

#nav ul li{
	float:left;
	
	list-style:none;
}

#nav ul{
	list-style:none;
}

#nav a{
	display:block;
	padding:5px;
	height:20px;
	text-decoration:none;
	color:#000000;
	border-style:hidden hidden solid hidden;
	border-color:transparent;
}

footer{
height:70px;
background-color:#e9e9e9;
}

footer #copyright{
	maring:20px 0 0 10px;
	text-align:center;
	font-family: consolas;
	font-weight:bold;
}

footer #SNS{
	margin:10px 20px 0 0;
	text-align:center;
}

aside{
	margin:5px;
}

article{
	margin:5px 0 10px 0;
}

#login{
	margin:30px;
}

#login fieldset span{
	display:inline-block;
	width:150px;
}
</style>