@CHARSET "UTF-8";
<style type="text/css">
body{
	line-height:1.2em;
	font-size:0.75em;
	background-color:red;
}

#page{
	margin:0;
	margin-right: auto;
	margin-left: auto;
	width:100%;
	min-height:600px;
	text-align:left;
	background-color:white;
}

#logo{
	font-size:40px;
}

#header{
	height:100px;
}

#header .right a:hover{
	color:red;
}

.right{
	float:right;
	top:0;
}

a{
	text-decoration:none;
}

#nav{
	margin:0 0 20px 0;
	float:left;
	width:100%;
	height:100%;
	background-color:#e9e9e9;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#ff0099;
}

#nav ul li{
	float:left;
	margin:0 5px;
	list-style:none;
}

#back{
	width:0;	
}

#login-btn{
	height:10px;
	width:0 ;
	margin-right:30px;
}

#regist-btn{
	height:10px;
	width:0 ;
}

.ui-icon-user{
	
}

#nav a{
	display:block;
	padding:5px;
	height:20px;
	text-decoration:none;
	color:#000000;
	border-style:hidden hidden solid hidden;
	border-color:transparent;
}

#footer{
height:80px;
}

#footer #copyright{
	margin:20px 0 0 10px;
	text-align:center;
	font-family: consolas;
	font-weight:bold;
}

#footer #SNS{
	margin:10px 20px 0 0;
	text-align:right;
}

#aside{
	margin:5px;
}

.right{
	float:right;
	margin:5px 0 10px 0;
}

#article{
	margin:5px 0 10px 0;
}

.left{
	float:left;
	margin-left:10px;
	margin:5px;
}
</style>