@CHARSET "UTF-8";
<style type="text/css">
body{
	line-height:1.2em;
	font-size:0.75em;
	background-color:red;
}

#page{
	margin:0;
	margin-right: auto;
	margin-left: auto;
	width:100%;
	min-height:600px;
	text-align:left;
	background-color:white;
}
/* 메인 헤드 부분*/
#logo{
	font-size:40px;
}

#header{
	height:100px;
}

#log-in{
	margin-left:30px;
}

a{
	text-decoration:none;
}

#nav-bar{
	margin:0 0 5px 0;
	float:left;
	width:100%;
	height:100%;
	background-color:#e9e9e9;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	font-weight:bold;
}

#nav-bar ul li{
	float:left;
	margin:0 2px;
	width:80px;
	list-style:none;
}

#nav-bar a{
	display:block;
	padding:2px;
	height:15px;
	text-decoration:none;
	color:#ff00000;
	border-style:hidden hidden solid hidden;
	border-color:transparent;
}

#login-btn{
	height:10px;
	width:0 ;
}

#bar-btn{
	height:10px;
	width:0 ;
}

#regist-btn{
	height:10px;
	width:0 ;
}

#footer{
height:80px;
}

#footer #copyright{
	margin:20px 0 0 10px;
	text-align:center;
	font-family: consolas;
	font-weight:bold;
}

#footer #SNS{
	margin:10px 20px 0 0;
	text-align:right;
}

#aside{
	margin:5px;
}

#article{
	margin:5px 0 10px 0;
}

.right{
	float:right;
	margin-right:30px;
	margin-bottom:1em;
	padding:3px;
	color:darkblue;
}
</style>