@CHARSET "UTF-8";
body{
	line-height:1.2em;
	font-size:0.75em;
	background-color:white;
}

#page{
	margin:0;
	margin-right: auto;
	margin-left: auto;
	width:100%;
	min-height:600px;
	text-align:left;
	background-color:white;
}

/* 메인 헤드 부분*/
#logo{
	line-height:1.2em;
	font-size:30px;
	color:white;
}

#logo:hover{
	color:white;
}

#content{
	background:white;
}

#exit-Icon{	/*상단바에서 로그아웃 메뉴 버튼의 이미지 크기 조절*/
	width:35px;
	height:30px;
}

#exit-icon-a{
	width:35px;
	height:30px;
	margin-top:63px;
	margin-right:38px;
}

#login-Icon{	/*상단바 로그인 메뉴 버튼의 이미지 크기 조절*/
	width:35px;
	height:30px;
}

#log-in{
	width:35px;
	height:30px;
	margin-top:63px;
	margin-right:4px;
}

#right-top-menu-Icon{	/*상단바 목록 메뉴 버튼의 이미지 크기 조절*/
	width:35px;
	height:30px;
}

#right-top-menu-div{
	width:35px;
	height:30px;
	margin-top:63px;
	margin-right:2px;
}

#header{
	background-color:black;
	height:150px;
}

#search-form{
	 width:10px;
	 margin:20px;
	 padding-left:50px;
	 animation-fill-mode:forwards;
}

#search-form:hover{
	width:150px;
	animation: logoframes 1s ease-in-out 0s forwards;
}


@keyframes logoframes {
	0% {
		width: 0;
	}
	100% {
		width: 150px;
	}
}

a{
	text-decoration:none;
}

#nav-bar {
	background-color:black;
    font-weight:bold;
    height:auto;
	margin-top:5px;
}

#nav-bar ul li {
    display:flex;
	justify-content:center;
    }

#nav-bar a{
	height:18px;
	text-decoration:none;
	color:white;
	border:0;
	background-color:black;
}

#product-list:hover{
	background-color:#DAD9FF;
	color:#030066;
}

#custom-list:hover{
	background-color:#DAD9FF;
	color:#030066;
}

#menu-Icon{	/*네비바에서 카테고리 메뉴 버튼의 이미지 크기 조절*/
	width:30px;
	height:20px;
}

#menu-Icon:hover{
	background: black;
}

#bar-btn{
	height:10px;
	width:0 ;
}

#regist-btn{
	height:10px;
	width:0 ;
}

#iframe-form{
	height:100vh;	/*vh:view-port-height로 사용자가 보는 화면에 따라 조절*/
	width:100%;	/*vw:view-port-width로 사용자가 보는 화면에 따라 조절*/
	border:none;
	background-color:white;
}
#aside{
	margin:5px;
}

#article{
	margin:5px 0 10px 0;
	mat-height:auto;
}


#footer{
	background-color:black;
	height:80px;
}

#footer #copyright{
	margin:20px 0 0 10px;
	text-align:center;
	font-family: consolas;
	font-weight:bold;
	color:white;
}

#footer #SNS{
	margin:10px 20px 0 0;
	text-align:right;
}
