@charset "UTF-8";
body{
	line-height:1.2em;
	font-size:0.75em;
	background-color:#e9e9e9;
}
#regist-page{
	background-color:#e9e9e9;
}

#regist-header{
	height:55px;
}

#main-home-Icon{	/*헤드에서 메인으로 가는 메뉴 버튼의 이미지 크기 조절*/
	width:30px;
	height:20px;
	margin-top:7px;
	margin-left:7px;
}

#regist-header-text{
	font-size:25px;
}

a{
	text-decoration:none;
}

#regist-footer{
height:80px;
}

#regist-footer #regist-copyright{
	margin:20px 0 0 10px;
	text-align:center;
	font-family: consolas;
	font-weight:bold;
}

#regist-footer #regist-SNS{
	margin:10px 20px 0 0;
	text-align:right;
}
#regist-header-btn{
	background-color: white;
	color: black;
}
#s_insert, #reset, #id_check{
	background-color: white;
}
#IdHelper, #NameHelper, #PasswordHelper, #repasswordHelper, #NickNameHelper, #telHelper, #email1Helper{
	color:blue;
	font-size: x-small;
}
.ui-mini.ui-btn-icon-left:after, .ui-mini .ui-btn-icon-left:after, .ui-header .ui-btn-icon-left:after, .ui-footer .ui-btn-icon-left:after{
	left:0.98em;
}